.galeria{

    padding:140px 0;

}

.grid-galeria{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;

    margin-top:60px;

}

.grid-galeria img{

    width:100%;

    aspect-ratio:4/5;

    object-fit:cover;

    border-radius:18px;

    transition:.4s;

    cursor:pointer;

}

.grid-galeria img:hover{

    transform:scale(1.03);

}