.service-card,
.about-content,
.gallery-item,
.testimonial-card,
.video-card{

    opacity:0;

    transform:translateY(40px);

    transition:.8s ease;

}


.show{

    opacity:1;

    transform:translateY(0);

}