@import url("header.css");
@import url("hero.css");
@import url("servicos.css");
@import url("sobre.css");
@import url("galeria.css");
@import url("videos.css");
@import url("depoimentos.css");
@import url("contato.css");
@import url("footer.css");
@import url("responsive.css");
@import url("animations.css");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


:root{

    --gold:#C8A95B;

    --black:#111111;

    --white:#FFFFFF;

    --gray:#F7F7F7;

    --text:#222222;

}


html{
    scroll-behavior:smooth;
}


body{

    font-family:'Montserrat', sans-serif;

    color:var(--text);

    background:var(--white);

}


img{

    max-width:100%;

}


a{

    color:inherit;

}


.container{

    width:100%;

    max-width:1200px;

    margin:auto;

}